.afterstory-wrapper .title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.afterstory-wrapper .title-bar {
  border-top: 5px solid #007000;
  background-color: #fffbf5;
}
.afterstory-wrapper .best-post {
  padding: 30px;
  background-color: #fffbf5;
  border-bottom: 2px solid #007000;
  margin-bottom: 40px;
}
.afterstory-wrapper .best-crown {
  margin-bottom: 10px;
}
.afterstory-wrapper .best-list {
  margin-top: 40px;
  margin-bottom: 30px;
}
.afterstory-wrapper .best-list .list-group-item {
  background-color: #fffbf5;
}
.afterstory-wrapper .best-list .list-group-item span {
  color: #f65d57;
  font-weight: bold;
}
.afterstory-wrapper .best-title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
  min-height: 30px;
}
.afterstory-wrapper .best-content {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
  min-height: 70px;
}
.afterstory-wrapper .best-more {
  font-size: 16px;
  font-weight: bold;
  color: #007000;
  margin-bottom: 40px;
}
.afterstory-wrapper .best-more a {
  color: #007000;
}
.afterstory-wrapper .best-auhtor {
  font-size: 15px;
}
.afterstory-wrapper .photos {
  margin: 20px 0;
}
.afterstory-wrapper #show-best-content {
  display: none;
  border-top: 2px solid #007000;
  border-bottom: 2px solid #007000;
  padding: 20px 0;
}
.afterstory-wrapper .list {
  margin-top: 100px;
}
.afterstory-wrapper .list .search {
  margin-bottom: 15px;
}
.afterstory-wrapper .list .list-header {
  background-color: #007000;
  padding: 13px;
  vertical-align: middle;
  height: 60px;
}
.afterstory-wrapper .list .list-row table td:first-child {
  width: 7%;
  background-color: #f1f1f1;
  text-align: center;
  vertical-align: middle;
}
.afterstory-wrapper .list .list-row table td:last-child {
  width: 93%;
  padding: 20px 40px;
}
.afterstory-wrapper .list .list-row table td:last-child div {
  padding: 5px;
}
.afterstory-wrapper .list .list-row table td:last-child .info {
  font-size: 15px;
}
.afterstory-wrapper .list .list-row table td:last-child .info span {
  color: #f65d57;
  font-weight: bold;
}
.afterstory-wrapper .list .list-row table td:last-child .title {
  font-size: 17px;
  font-weight: bold;
}
.afterstory-wrapper .list .list-row table td:last-child .content {
  font-size: 16px;
  line-height: 30px;
}
.afterstory-wrapper .list .list-row table td:last-child .more {
  font-size: 15px;
  color: #007000;
}
.recent-afterstory .recent-post {
  font-size: 14px;
  line-height: 25px;
}
@media (min-width: 970px) {
  .best-image {
    height: 245px;
    margin: auto 0;
  }
}
